@page "/"
@using WebPush.Client

@inject IWebPushUsecase _webPushUsecase

<PageTitle>Home</PageTitle>

<h1>Welcome Web Push</h1>

<WebPushControl @ref="webPushControl" WebPushPublicKey="@webPushPublicKey"></WebPushControl>
<button @onclick="RequestNotificationSubscriptionAsync">Init</button>

@code {
    public required WebPushControl webPushControl;

    private string webPushPublicKey = "{{PublicKey}}";
    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    async Task RequestNotificationSubscriptionAsync()
    {
        var subscription = await webPushControl.RequestNotificationSubscriptionAsync();

        // subscriptionがnullじゃない場合Consoleに出力
        if (subscription != null)
        {
            Console.WriteLine(subscription.Url);
            Console.WriteLine(subscription.P256dh);
            Console.WriteLine(subscription.Auth);

            await _webPushUsecase.SubscribeAsync(subscription.Url!, subscription.P256dh!, subscription.Auth!);
        }
    }
}
